:root {
  --header: #333333;
  --bluesection: #1e93cc;
  --startb: #e99002;
  --logosection: #eeeeee;
  --button: #165882;
  --footer: #222222;
}

a:link {
  text-decoration: none;
  color: var(--logosection);
}

a:visited {
  text-decoration: none;
  color: var(--logosection);
}

a:hover {
  text-decoration: none;
  color: var(--logosection);
}

a:active {
  text-decoration: none;
  color: var(--logosection);
}

body {
  width: 1920px;
}

header {
  background-color: var(--header);
  height: 100px;
  display: flex;
}

.login {
  float: right;
}

ul li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}
